footer {
    font-size: 1.2rem;
    background-color: #1d1727;
    color: #f9eaffad;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.socials {
    display: flex;
    gap: 10px;
}

.socials a {
text-decoration: none;
}

.socials img {
    width: 28px;
    color: aliceblue;
    filter: invert(80%);
}