.project-section-title {
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
}

.project-section-title h3 {
    margin-right: 10px;
}

.line {
    height: 1px;
    flex-grow: 1;
    background-color: #4bb3b894;
}

.projects-section {
    margin: auto;
    width: 90vw;
}

.project {
    gap: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.project-title {
    width: 100%;
    font-size: 2rem;
    color: #F9EAFF;
    
}

.project-description {
    width: 100%;
    background-color: #344262;
    display: flex;
    flex-direction: column;
    color: #F9EAFF;
    padding: 20px;
    gap: 10px;
    border-radius: 10px;
    box-shadow:  2px 6px 20px#181d27;
}

.note {
    color: #f9eaffad;
    font-size: .8em;
}

.project-image {
    display: flex;  
    justify-content: center;
}

.project-image img {
    width: 80%;
    object-fit: cover; 
    border-radius: 20px;
    box-shadow:  2px 6px 20px#181d27;
}