body {
  background: linear-gradient(120deg, rgba(43,34,59,1) 21%, rgb(52, 66, 98) 88%, rgba(120,215,195,1) 160%) fixed;
}

*, body {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  @media screen and (max-width:768px) {
    body {
      background: linear-gradient(94deg, rgba(43,34,59,1) 21%, rgb(52, 66, 98) 88%, rgba(120,215,195,1) 160%);
      background-attachment: scroll;
    }
  }
  